body {
    background-color: #212121;
}
  
h1 {
    color: #008282;
    text-align: center;
    font-size: 64;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    color: #008282;
    margin-left: 8.3333%;
    margin-right: 8.3333;
    font-size: 40;
    line-height: 0.75;
    font-family: sans-serif;
}

h3 {
    color: #F9F5FF;
    margin-left: 21.3889%;
    margin-right: 21.3889%;
    font-size: 36;
    font-family: sans-serif;
}

p {
    color: #F9F5FF;
    margin-left: 15.4166667%;
    margin-right: 15.4166667%;
    font-size: 24;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* unvisited link */
a:link {
    color: #3ad5ff;
    font-size: 24;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
/* visited link */
 a:visited {
    color: #0782bf;
    font-size: 24;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Bullet point */
li::marker {
    color: #F9F5FF;
}

#doormat {
    line-height: 256px;
    background-image: url(assets/images/spots.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#newsletter {
    background-color: #F9F5FF;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #3ad5ff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #F9F5FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #008282;
  color: #F9F5FF;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #bbf0ff;
    color: #212121;
}

.bottomnav {
    position: sticky;
    color: #212121;
    background-color: #008282;
}

.bottomnav a {
    color: #212121;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    align-content: center;
    text-align: center;
    align-items: center;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 4px;
    vertical-align: middle;
    max-width: 24%;
}