#colgire {
    object-position: top;
}

#robonyan-nuke {
    object-position: left;
}

.art-dropdown {
    display: inline;
    
}

.art-folder h2.closed::after {
    content: "+";
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: #008282;
    right: 15px;
}

.art-folder h2.open::after {
    content: "-";
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: #008282;
    right: 15px;
}



/* Portfolio Image Squish Prevention */
@media (max-width: 780px) {
    div.gallery * {
        grid-column: span 1 !important;
    }
}